body{
	margin: 0;
	background: #1b1b1b;
}
.body_over{
	overflow: hidden;
}
input[disabled] {
	pointer-events:none
}

@keyframes reveal {
	80%{
		letter-spacing: 8px;
	}
	100% {
		background-size: 300% 300%;
	}
}
@keyframes glow {
	40% {
		text-shadow: 0 0 8px #fff;
	}
}
.p__add_task_menu {
	background: 50% 100% / 50% 50% no-repeat
	radial-gradient(ellipse at bottom, #fff, transparent, transparent);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	animation: reveal 3000ms ease-in-out forwards 200ms,
	glow 2500ms linear infinite 2000ms;
}


#video_background{
	position: fixed;
	left: 0px;
	top: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -10;
	filter: blur(11px);
	margin-left:-10px;
	margin-top: -10px;
	transition: 0.2s;
}
.header{
	width: 100%;
	height: auto;
	margin: 0;
	display: flex;
	flex-direction: column;
	transition: 0.2s;
	z-index: 6;
	position: fixed;
	top: 0;
	background: #17171794;
	filter: grayscale(0%);
	background: #00000085;
	backdrop-filter: grayscale(1);
}
.header__s1{
	display: flex;
	height: 105px;
	width: 100%;
	/*background: #2525258a;*/
	justify-content: space-between;
	align-items: center;
}
.p__to_do_list{
	font-family: 'Gugi', cursive;
	font-size: 33px;
	color: #bfbfbf;
	margin: 0;
	display: flex;
	justify-content: center;
	align-self: flex-end;
	align-items: flex-end;
}
.p__text_to_do{
	font-family: 'Gugi', cursive;
	font-size: 22px;
	color: #bfbfbf;
	margin: 0;
	height: 41px;
	display: flex;
	justify-content: center;
	align-self: flex-end;
	align-items: flex-end;
	margin-bottom: 3px;
	margin-left: 3px;
}
.header__s2{
	display: flex;
	height: 36px;
	width: 100%;
	/*background: #2525258a;*/
	justify-content: flex-start;
	align-items: center;
	border-radius: 0px 0px 2px 2px;
}
.buttons__s2{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
.rch__button{
	width: auto;
	padding-left: 16px;
	padding-right: 16px;
	background: transparent;
	border: none;
	cursor: pointer;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	outline: none;
}
.add_group__button{
	width: 158px;
	display: flex;
	background: #9696961f;
	border-radius: 3px;
	transition: 0.22s background ease-out;
}
.add_group_real{
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	cursor: pointer;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	outline: none;
	overflow: hidden;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	transition: 0.12s;
}
.form{
	width: 152px;
	height: 42px;
	z-index: -3;
	position: absolute;
	margin-left: 158px;
	transition: 0.4s ease-out opacity;
	transition: 0.3s ease-out;
	opacity: 0;
}
.input{
	width: 100%;
	height: 100%;
	border: none;
	padding: 0;
	padding-left: 3px;
	padding-right: 3px;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	outline: none;
	background: #00000017;
	color: black;
	border-left: 2px solid #84ad9c;
}
.input::placeholder{
	opacity: 0.7;
	color: #000000;
}
.done__addgr{
	z-index: -3;
	transition: 0.12s;
	opacity: 0;
}
.done__form{
	z-index: 1;
	margin-left: 0px;
	opacity: 1;
	transition: 0.4s ease-out opacity;
	transition: 0.3s ease-out;
	/*animation-name: example;
	animation-duration: 0.3s;*/
}
.done__button{
	background: transparent;
	transition: 0.22s background ease-out;
}

.button_adder{
	width: 20%;
	height: 100%;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.p_con_s2{
	height: 100%;
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
}
.p__p_con_s2{
	font-family: 'Poppins', sans-serif;
	font-size: 23px;
	color: #bfbfbf;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	height: 100%;
	width: 100%;

}
.button_pick_add{
	width: 36px;
	height: 36px;
	padding: 0;
	outline: none;
	background: transparent;
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
}
.button_pick_add::before{
	content: '';
	width: 20px;
	height: 2.3px;
	background: #bfbfbf;
	position: absolute;
	transform: rotate(0deg);
	transition: 0.09s;
}
.button_pick_add::after{
	content: '';
	width: 20px;
	height: 2.3px;
	background: #bfbfbf;
	position: absolute;
	transform: rotate(90deg);
	transition: 0.09s;
}
.clope_g::after{
	transform: rotate(45deg);
	transition: 0.9s;
}
.clope_g::before{
	transform: rotate(-45deg);
	transition: 0.9s;
}
.button_pick_add__task{
	width: 36px;
	height: 36px;
	padding: 0;
	outline: none;
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	background: transparent;
	z-index: 9;
}
.button_pick_add__task::before{
	content: '';
	width: 24px;
	height: 2.3px;
	background: #6f6f6f9e;
	position: absolute;
	transform: rotate(0deg);
	transition: 0.9s;
}
.button_pick_add__task::after{
	content: '';
	width: 24px;
	height: 2.3px;
	background: #6f6f6f9e;
	position: absolute;
	transform: rotate(90deg);
	transition: 0.9s;
}
.clope_d::after{
	transform: rotate(45deg);
}
.clope_d::before{
	transform: rotate(-45deg);
}
.star_cool{
	width: 36px;
	height: 36px;
	padding: 0; 
	z-index: -9;
	position: absolute;
	transform: rotate(45deg);
	background: #0000001a;
	cursor: pointer;
}
.rch_info{
	height: 105px;
	position: absolute;
	top: 0;
	width: 20%;
	display: flex;
	flex-direction: column;
}
.made__rch_info{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	font-family: 'Raleway', sans-serif;
	font-size: 19px;
	color: #aba9a9bf;
	margin: 0;
	margin-top: 5px;
	margin-left: 5px;
}
.a_made__rch_info{
	text-decoration: none;
	color: #dd6262;
	cursor: pointer;
	margin: 0;
	padding: 0;
	margin-left: 6px;
	letter-spacing: 1px;
	transition: 0.3s;
}
.a_made__rch_info:hover{
	text-decoration: underline;
	color: #ff006a;
}
.group_adder{
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.button_opener{
	width: 36px;
	height: 36px;
	z-index: 1;
	position: absolute;
	cursor: pointer;
}
.form_add_gr{
	z-index: 0;
	max-width: 0px;
	height: 100%;
	transition: 0.1s;
	width: 150px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
}
.form_add_gr::before{
	content: '';
	width: 24px;
	height: 2.3px;
	background: #bfbfbf;
	position: absolute;
	transform: rotate(45deg);
	transition: 0.1s;
	cursor: pointer;
}
.form_add_gr::after{
	content: '';
	width: 24px;
	height: 2.3px;
	background: #bfbfbf;
	position: absolute;
	transform: rotate(-45deg);
	transition: 0.1s;
	cursor: pointer;
}
.anikamation{
	z-index: 2;
}
.anikamation::before{
	transform: rotate(90deg);
}
.anikamation::after{
	transform: rotate(-90deg);
}
.anikamation_go{
	max-width: 150px;
}
.anikamation_go::before{
	margin-left: -150px;
}
.anikamation_go::after{
	margin-left: 150px;
}
.input_add_gr{
	width: 100%;
	height: 30px;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	color: #bfbfbf;
	background: transparent;
	border:0;
	padding: 3px;
	outline: none;
}
.input_add_gr::placeholder{
	opacity: 0.9;
	color: #bfbfbf;
}
.weather{
	height: 105px;
	width: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	position: absolute;
	flex-direction: column;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
}
.temperature{
	color: black;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 28px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	height: 80%;
}
.con_img{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	align-self: center;
	height: 20%;
	margin: 0;
}
.img_weather{
	width: 12%;
	margin-left: 40px;
	margin-bottom: -30px;
}
.info_tools::before{
	content: '';
	width: 8px;
	height: 1.5px;
	position: absolute;
	background: black;
	margin-top: 25px;
	z-index: -9;
	opacity: 0;
	transition: 0.2s;
	transform: rotate(90deg);
	margin-left: 25px; 
}
.info_tools::after{
	content: '';
	width: 8px;
	height: 1.5px;
	position: absolute;
	background: black;
	margin-top: -25px;
	margin-left: -25px; 
	z-index: -9;
	opacity: 0;
	transition: 0.2s;
	transform: rotate(90deg);
}







.main{
	width: auto;
	/*margin-left: 300px;
	margin-right: 300px;*/
	height: auto;
	margin-top: 201px;
	margin-bottom: 60px;
	border-radius: 5px;
	transition: 0.3s;
	display: flex;
	flex-direction: column;
	align-items: center;
	filter: blur(0px);
}
.minor_animation{
	transform: skew(30deg, 20deg) scale(0.5) translate(-100%, -100%);
	opacity: 0;

}
.option{
	min-height: 75px;
	width: 50%;
	/*border-radius: 11px;*/
	/*border-bottom: 0.5px solid #dc3adc47;*/ 
	display: flex;
	justify-content: space-between;
	background: #3b3737a1;
	/*background: rgba(14, 2, 2, 0.23);*/
	cursor: pointer;
	overflow: hidden;
	border: 1px solid transparent;
	border-left: 3px solid #000000c9 !important;
	margin-top: 9px !important;
	box-sizing: border-box;
	z-index: 2;
	transition: 0.3s border-left;
	transition: 0.3s border;
	transition: 0.3s background;
	box-sizing: border-box;
}
.option.true{
	border-left: 3px solid #ffd10080 !important;
	transition: 0.2s;
}
.option:hover{
	border: 1px solid black;
	background: #00000062
}
.name_and_arrow{
	display: flex;
	cursor: pointer;
	width: 84%;
}
.edit_group{
	height: 75px;
	width: 8%;
	display: flex;
	justify-content: center;
	align-self: center;
	align-items: center;
	cursor: pointer;
	transition: 0.3s;
	overflow: hidden;
}
.edit_group:hover{
	background: #0000001a;
}
#imortant_group{
	border-right: 2px dashed #00000026;
}
.edit_group::before{
	content: '';
	width: 10px;
	height: 2px;
	position: absolute;
	transform: translateY(-650%);
	background: black;
	margin-left: 25px;
	z-index: -9;
	opacity: 0;
	transition: 0.2s;
}
.edit_group::after{
	content: '';
	width: 10px;
	height: 2px;
	position: absolute;
	transform: translateY(650%);
	background: black;
	margin-left: -25px;
	z-index: -9;
	opacity: 0;
	transition: 0.2s;
}
.effect_on::before{
	width: 25px;
	margin: 0 !important;
	z-index: 3;
	opacity: 0.9;
}
.effect_on::after{
	width: 25px;
	margin: 0 !important;
	z-index: 3;
	opacity: 0.9;
}
.text__ul{
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	height: 100%;
	width: auto;
	padding-left: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	color: #e1e1e1;
	border-left: 2px #0000004d dotted;
}
.arrow__ul{
	width: 65px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	transition: 0.25s;
	color: #bfbfbf;
}
.input:placeholder-shown {
	border-left: 2px solid #0000009c;
	transition: 0.22s;
}
.div__todo{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px;
	margin-left: 60px;
}
.time__s1{
	padding: 2px;
	margin-right: 14px;
	display: flex;
	flex-direction: column;
}
.time_date_s1{
	font-family: 'Gugi', cursive;
	font-size: 20px;
	color: black;
	margin: 0;
	display: flex;
	justify-content: center;
	align-self: flex-end;
	align-items: flex-end;
}
.day_date_s1{
	font-family: 'Gugi', cursive;
	font-size: 16px;
	color: black;
	margin: 0;
	display: flex;
	justify-content: center;
	align-self: flex-end;
	align-items: flex-end;
}
.option_absolute{
	width: 50%;
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.22s;
}

/*.option_no{
	width: 750px;
	max-height: 0px;
	position: fixed;
	left: 0;
	right: 0;
	margin: auto;
	overflow: hidden;
	transition: max-height 0.15s;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	z-index: 99;
	background:  #00000090;
	border-radius: 0 0 50px 50px;
	backdrop-filter: blur(10px);
	top: 0;
	color: white;
}
.no_text{
	width: 100%;
	height: 152px;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	font-size: 26px;
}*/
.notification_main{
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	padding: 30px;
	align-items: center;
	border-radius: 8px;
	background: linear-gradient(308deg, rgba(0,0,0,0.45171572046787467) 0%, rgba(4,4,4,0.2164216028208158) 100%);
	backdrop-filter: blur(20px);
	position: fixed;
	top: 40px;
	left: 0;
	right: 0;
	margin: auto;
	width: 390px;
	height: 140px;
	z-index: 99;
	box-shadow: 0px 1px 12px -1px #000000;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	top: -240px;
	opacity: 0.5;
	transform: scale(0.9);
	transition: 0.3s;
}
.notification_main.notification_on{
	top: 20px;
	opacity: 1;
	transform: scale(1);
	animation-name: example;
}
@keyframes example {
  0%   {
  	box-shadow: 0px 1px 12px -1px #000000;
  	transform: rotate(-1deg);
  }
  25%  {
  	box-shadow: 0px 1px 24px -1px #ff444433;
  	transform: rotate(1deg);
  }
  50%  {
  	box-shadow: 0px 1px 12px -1px #000000;
  	transform: rotate(-1deg);
  }
  75%  {
  	box-shadow: 0px 1px 24px -1px #ff444433;
  	transform: rotate(1deg);
  }
  100% {
  	box-shadow: 0px 1px 12px -1px #000000;
  	transform: rotate(-1deg);
  }
}
.svg_notification_main{
	height: 80px;
	width: 80px;
	object-fit: cover;
	fill: #ffffff;
	transition: 0.4s;
}
.p_notification_main{
	padding: 5px 10px;
	margin: 0;
	width: 250px;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	color: lightblue;
}

/*.done__no_task_m{
	max-height: 152px;
	transition: max-height 0.1s;
}*/
.done_arrow{
	transition: 0.25s;
	transform: rotate(180deg);
}
.option_absolute_go{
	transition: max-height 0.22s;
	/*max-height: all;*/
}
.task_options{
	height: 75px;
	background: #27272763;

	width: 100%;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	
	border-left: 3px solid #2f2f2fa3;
	transition: 0.3s;
	transform: rotate3d(0, 1, 0, 0deg);
}
.task_original{
	flex: 1;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font-size: 16px;
	overflow-y: hidden;
	overflow-x: auto;
	flex-direction: column;
}
/*.date_original{
	width: 19%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}*/
.full_task{
	transition: 0.3s;
	overflow: hidden;
}
.task_no_group{
	width: 50%;
	margin-top: 9px !important;
}
.ready_task{
    width: 66px;
	height: 100%;
	border-right: 2px dashed #0000004d;
	display: flex;
	margin-left: -1px;
	justify-content: center;
	align-items: center;
	align-self: center;
	cursor: pointer;
	transition: 0.3s;
}
.ready_task:hover{
	background: #0000001a;
}
.block_task{
	width: 12px;
	height: 12px;
	background: #d6d6d6cc;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	cursor: pointer;
	transition: 0.2s;
}
.edit_original{
	width: 8%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	cursor: pointer;
}
.p__original{
	font-size: 17px;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	margin-left: 9px;
	color: #d6d6d6;
	height: 70%;
	display: flex;
	align-items: flex-end;
	transition: 0.2s;
}
.p__original::selection{
	background: transparent;
}
.p__date{
	font-size: 12px;
	font-family: 'Changa', sans-serif;
	margin: 0;
	margin-right: 1%;
	height: 30%;
	width: 99%;
	display: flex;
	justify-content: flex-end;
	color: #dd6262;
	align-items: flex-end;
}
.edit_p_original{
	font-size: 19px;
	color: #7d2121;
	margin-right: 0px;
}
.add_task_menu{
	position: fixed;
	top: 0;
	left: -100%;
	z-index: -15;
	height: 100%;
	width: 100%;
	transition: 0.3s;
	background: #00000042;
}
.header__add_task_menu{
	height: 10%;
	width: 100%;
	display: flex;
}
.exit__add_task_menu{
	width: 3%;
	height: 100%;
	background: transparent;
	outline: none;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.rch__add_task_menu{
	margin: 0;
	height: 100%;
	font-family: 'Ranga', cursive;
	font-size: 35px;
	color: #afafaf;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 6px;
}
#arrow_back{
	font-size: 37px;
}
.headerd{
	opacity: 0;
	z-index: -90;
}
.mainrd{
	opacity: 0;
	z-index: -90;
}
.go_vid{
	left: 0%;
	z-index: 45;
	transition-delay: 0s !important;
}
.rch_deleter_add_task_menu{
	width: 20%;
	position: absolute;
	height: 36px;
	margin-top: 105px;
	display: flex;
	justify-content: center;
	align-items: center;
}



.main__add_task_menu{
	margin-top: 10%;
	height: 90%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.image__add_task_menu{
	height: 18%;
	width: 14%;
	z-index: 2;
}
.p__add_task_menu{
	justify-content: center;
	width: 100%;
	display: flex;
	align-items: center;
	/*color: black;*/
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 56px;
	cursor: pointer;
}
.p__add_task_menu::selection {
	background: none;
}
.form__add_task_menu{
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 14%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.footer_menu{
	width: 100%;
	height: 70px;
	position: fixed;
	bottom: 0;
	background: #0000005c;
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: 0;
	backdrop-filter: sepia(.4);
	transition: 0.18s;
	overflow: hidden;
	z-index: 51;
	opacity: 0;
}
.container__footer_menu{
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.crt_container__footer_menu{
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	color: #8f8d8c;
}
#allip{
	margin-top: 2px;
}
.footer_plus{
	max-height: 70px;
	opacity: 1;
}
.clear_local_storage{
	position: fixed;
	bottom: 0;
	right: 0;
	height: 60px;
	width: 60px;
	background: rgb(0 0 0 / 5%);
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	backdrop-filter: grayscale(1);
	cursor: pointer;
	transition: 0.5s background;
}
.clear_local_storage:hover{
	background: #ffffff21;
}
.trash_hide{
	opacity: 0;
	z-index: -3;
	display: none;
}
.material-icons::selection{
	background: transparent;

}
.input_for_task{
	background: transparent;
	border: none;
	padding: 0;
	padding-left: 3px;
	padding-right: 3px;
	font-family: 'Poppins', sans-serif;
	color: #aba9a9bf;
	border-bottom: 1.5px solid black;
	margin-top: 10px;
	height: 36px;
	width: 254px;
	font-size: 18px;
	transition: 0.3s;
	outline: none;
}
.input_for_task::placeholder{
	color: #aba9a9bf;
}
.input_div{
	border-bottom: 1.5px solid black;
	padding: 0;
	margin-top: 5px;
	height: 36px;
	width: 260px;
	display: flex;
	/*align-items: center;*/
	cursor: pointer;
}
/*.input_div::after{
	content: ' ';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 4.5px 0 4.5px;
	border-color: #aba9a9bf transparent transparent transparent;
	margin-left: -25px;
	left: 0;

}*/
.input_for_task__in{
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	padding: 0;
	padding-left: 3px;
	padding-right: 3px;
	font-family: 'Poppins', sans-serif;
	color: #aba9a9bf;
	margin: 0;
	font-size: 18px;
	outline: none;
	cursor: pointer;
	z-index: 22;
	transition: 0.3s background;
}
.input_for_task__in:hover{
	background: #00000014;
}
.input_for_task:hover{
	background: #00000014;
}
.creater_tasks{
	display: flex;
	justify-content: center;
	align-self: center;
	align-items: center;
	width: 260px;
	height: 42px;
	background: #00000075;
	color: #aba9a9bf;
	border:0;
	margin-top: 15px;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	outline: none;
	cursor: pointer;
	transition: 0.4s;
}
.creater_tasks:hover{
	background: #000000f5;
	color: white;
}
.selector_for_options{
	width: 260px;
	max-height: 0px;
	/*display: flex;
	flex-direction: column;
	align-items: center;*/
	position: absolute;
	margin-top: 36px;
	z-index: 2;
	overflow: hidden;
	transition: 0.3s max-height;
}
.select{
	width: 100%;
	height: 30px;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	background: #000000e0;
	color: #aba9a9bf;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	box-sizing: border-box;
	padding:  0 3px;
	transition: 0.4s;
}
.select:hover{
	background: #000000f5;
	color: white;
	padding:  0 5px;
}
.arrow_down_t{
	width: 260px;
	height: 36px;
	display: flex;
	align-items: center;
	z-index: -1;
	position: absolute;
	justify-content: flex-end;
}
.arrow_down_t::after{
	content: ' ';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 4.5px 0 4.5px;
	transition: 0.2s;
	border-color: #aba9a9bf transparent transparent transparent;
	margin-right: 10px;
	transform-origin: center;
}
.arrow_down_t.opened::after{
	transform: rotate(180deg);
}

.selector_for_options_on{
	overflow: auto;
	max-height: 105px;
	z-index: 12;
}
.input_for_task__in::placeholder{
	color: #aba9a9bf;
}

.selector_for_options_on::-webkit-scrollbar {
	width: 10px;
}

/* Track */
.selector_for_options_on::-webkit-scrollbar-track {
	background: #000000e0; 
}
 
/* Handle */
.selector_for_options_on::-webkit-scrollbar-thumb {
	background: #313131; 
}

/* Handle on hover */
.selector_for_options_on::-webkit-scrollbar-thumb:hover {
	background: #333333; 
}
.text__ul::selection{
	background: transparent;
}
.task_original::-webkit-scrollbar {
	height: 8px;
}
/* Track */
.task_original::-webkit-scrollbar-track {
	background: #00000021; 
}
 
/* Handle */
.task_original::-webkit-scrollbar-thumb {
	background: #252525; 
}

/* Handle on hover */
.task_original::-webkit-scrollbar-thumb:hover {
	background: #1b1a1a; 
}



.tools_deletor::before{
	content: '';
	width: 8px;
	height: 1.5px;
	position: absolute;
	background: black;
	margin-top: 25px;
	z-index: -9;
	opacity: 0;
	transition: 0.2s;
	transform: rotate(90deg);
	margin-left: 25px; 
}
.tools_deletor::after{
	content: '';
	width: 8px;
	height: 1.5px;
	position: absolute;
	background: black;
	margin-top: -25px;
	margin-left: -25px; 
	z-index: -9;
	opacity: 0;
	transition: 0.2s;
	transform: rotate(90deg);
}
.edit_original::before{
	content: '';
	width: 8px;
	height: 1.5px;
	position: absolute;
	background: black;
	margin-top: 25px;
	z-index: -9;
	opacity: 0;
	transition: 0.2s;
	transform: rotate(90deg);
	margin-left: 25px; 
}
.edit_original::after{
	content: '';
	width: 8px;
	height: 1.5px;
	position: absolute;
	background: black;
	margin-top: -25px;
	margin-left: -25px; 
	z-index: -9;
	opacity: 0;
	transition: 0.2s;
	transform: rotate(90deg);
}
.tools_editor::before{
	content: '';
	width: 8px;
	height: 1.5px;
	position: absolute;
	background: black;
	margin-top: 25px;
	z-index: -9;
	opacity: 0;
	transition: 0.2s;
	transform: rotate(90deg);
	margin-left: 25px; 
}
.tools_editor::after{
	content: '';
	width: 8px;
	height: 1.5px;
	position: absolute;
	background: black;
	margin-top: -25px;
	margin-left: -25px; 
	z-index: -9;
	opacity: 0;
	transition: 0.2s;
	transform: rotate(90deg);
}
.effect_on__task::before{
	width: 20px;
	margin-top: 0 !important;
	z-index: 3;
	opacity: 0.8;
}
.effect_on__task::after{
	width: 20px;
	margin-top: 0 !important;
	z-index: 3;
	opacity: 0.8;
}
.options_task{
	width: 100%;
	min-height: 75px;
	background: #27272763;
	margin-top: -75px;
	transform: rotate3d(0, 1, 0, 0deg);
	display: flex;
	justify-content: flex-end;
	background: #00000038;
	transition: 0.3s;
	margin-left: 100%;
}
.info_tools{
	position: absolute;
	height: 67px;
	width: 8%;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	cursor: pointer;
	color: #7d2121;
}
.tools_original{
	height: 100%;
	width: 100%;
	display: flex;
	/*justify-content: space-around;*/
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
}
.tools_editor{
	width: 10%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	cursor: pointer;
	color: #bdbdbdba;
	border-right: 2px dashed black;
}
.tools_deletor{
	width: 10%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	cursor: pointer;
	color: #bdbdbdba;
}


.margin_task{
	margin-left: -100%;
}
.margin_task_task_options{
	margin-left: 0%;
}


.width_0{
	margin-left: -100%;
	opacity: 0;
}


.importance_star.true{
	color: #b30000b0;
}
.importance_star.true::before{
	background: #b30000b0;
}
.importance_star.true::after{
	background: #b30000b0;
}

.block_task::before{
	content: '';
	width: 0px;
	height: 0px;
	transform: skewY(45deg);
	background: black;
	transition: 0.2s;
	opacity: 0;
}
.block_task::after{
	content: '';
	width: 0px;
	height: 0px;
	transform: skewY(-45deg);
	background: black;
	transition: 0.2s;
	opacity: 0;
}
.block_task.true::before{
	content: '';
	width: 4px;
	height: 3px;
	transform: skewY(45deg);
	background: #000000b8;
	margin-bottom: -4px;
	opacity: 0.9;
}
.block_task.true::after{
	content: '';
	width: 8px;
	height: 3px;
	transform: skewY(-45deg);
	background: #000000b8;
	opacity: 1;
}
.p__original.true{
	text-decoration: line-through;
	color: #00000078;
}
#p_date_tools{
	margin-left: -9%;
	height: 100%;
	display: flex;
	width: auto;
	z-index: -2;
	align-items: flex-end;
	position: absolute;
	font-size: 13px;
	color: white;
}
.modal_window{
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	z-index: 52;
	opacity: 0;
	transition: 0.5s;
	transition: display 0;
}
.closer_modal{
	position: absolute;
	height: 100%;
	width: 100%;
	background: #00000073;
	z-index: -2;
	backdrop-filter: blur(4px);
}
.modal_original{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 440px;
	height: 230px;
	background: #00000099;
	transition: box-shadow 0.1s, transform 0.1s;
	display: flex;
	flex-direction: column;
	z-index: 2;
	backdrop-filter: blur(15px);
}
.header_footer_modal{
	height: 30px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.question_modal{
	justify-content: flex-end;
}
.main_modal{
	height: 170px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.close__header_modal{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	width: 50px;
	cursor: pointer;
	border-radius: 0 0 0 3px;
	transition: 0.3s;
}
.close__header_modal:hover{
	background: #ff45561f;
}
.close__header_modal::before{
	content: '';
	width: 16px;
	height: 2px;
	position: absolute;
	background: white;
	transition: 0.2s;
	transform: rotate(-45deg);
}
.close__header_modal::after{
	content: '';
	width: 16px;
	height: 2px;
	position: absolute;
	background: white;
	transition: 0.2s;
	transform: rotate(45deg);
}
.p_info_modal{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	height: 30px;
	border-right: 2px dotted #00000099;
	border-bottom: 2px dotted #00000099;
	color: white;
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 1px;
	display: flex;
	text-decoration: none;
	align-items: center; 
	box-sizing: border-box;
	transition: 0.4s;
}
.p_info_modal.ahref:hover{
	color: #dd6262;
	text-decoration: underline;
}
#time_modal{
	border-bottom: 0;
	border-top: 2px dotted #00000099;
	font-family: 'Gugi', cursive;
	font-size: 13px;
}
#creator_modal{
	border-bottom: 0;
	border-top: 2px dotted #00000099;
	border-right: 0;
	border-left: 2px dotted #00000099;
}
.form_modal{
	height: 80%;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.task_editor_modal{
	width: 90%;
	height: 38px;
	background: #00000099;
	border: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	color: white;
	outline: none;
	margin-bottom: 6px;
	padding-left: 6px;
	padding-right:  6px; 
	box-sizing: border-box;
}
.editor_tasks{
	width: 90%;
	height: 38px;
	background: #00000099;
	border: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	color: white;
	outline: none;
	margin-top: 6px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	transition: 0.3s;
	align-items: center;
	box-sizing: border-box;
}
.editor_tasks:hover{
	background: #6642425e;
}
.editor_tasks.question{
	width: 44%;
	height: 38px;
	background: #00000099;
	font-size: 16px;
	transition: 0.4s;
	margin-top: 0px;
}
.editor_tasks.question:hover{
	color: #dd6262;
	background: #3333334f;
}
.modal_window_done{
	display: block !important;
	opacity: 1;
}


.task_question_modal{
	width: 100%;
	height: 38px;
	border: none;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	margin-top: 1px;
	color: white;
	margin-bottom: 6px;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container_buttons_question_tasks{
	width: 100%;
	height: 38px;
	margin-top: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


/* animations */
.header.hidden{
	margin-top: -150px;
	opacity: 0;
}
.main.hidden{
	filter: blur(19px);
	opacity: 0;
}


body::-webkit-scrollbar {
	width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
	background: #333333;
}
 
/* Handle */
body::-webkit-scrollbar-thumb {
	background: #000000;
	transition: 0.3s;
	border-radius: 2px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
	background: #1c1a1aeb;
	transition: 0.3s;
}